{% extends 'base.html.twig' %}

{% block title %}{{ parent()}} - Category{% endblock %}

{% block body %}
{{ parent() }}
<div class="container">
    <div class="row mb-2">
        <div class="col-sm-6 mt-5">
            <h1>Modulo categorias</h1>
        </div>
        <div class="col-sm-6">            
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-12">
        {% for message in app.flashes('exito') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
        {% endfor %}
            <div class="row">
                <div class="abs-center">
                    <div class="card">
                        <div class="card-body">                    
                            {{ form(form_category) }}                    
                        </div>
                    </div>
                </div>
            </div>
        <div class="col-lg-3 col-12">
            <div class="card">
                <div class="card-header">
                    Categorias
                    <div class="boton-new-category">
                        <a class="btn btn-info btn-sm" title="New category" href="{{ path('category') }}"> <i class="fa fa-save"></i></a>
                    </div>
                </div>
                <div class="card-body">
                    <h5 class="card-title"></h5>
                    {% for cat in categorys %}               
                    <a class="titulo-category" href="{{ path('category', {id:cat.id}) }}"> 
                        <i class="fa fa-check check-category mt-1"></i><p class="card-text">{{ cat.name }}</p>
                    </a>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>  
{% endblock %}
